# @see https://github.com/Sylius/SyliusResourceBundle/blob/master/docs/index.md
sylius_resource:
 
    #######################################################################################################################
    # Override default settings
    # -------------------------
    # You Can To Override Many Resource Parameters For All Resources (Including VankoSoft Bundles)
    # View Available Settings in 
    #     \Sylius\Bundle\ResourceBundle\DependencyInjection\Configuration::addSettingsSection(ArrayNodeDefinition $node)
    #######################################################################################################################
    settings:
        paginate: 10
    
    #######################################################################################################################
    # Configure your resources
    #######################################################################################################################
    resources:
        vs_reading_room.reading_room_application:
            driver: doctrine/orm
            classes:
                model:      App\Entity\ReadingRoomApplication
                repository: Sylius\Bundle\ResourceBundle\Doctrine\ORM\EntityRepository
                controller: App\Controller\AdminPanel\ReadingRoomApplicationController
                form:       App\Form\ReadingRoomApplicationForm
        
        vs_reading_room.reading_room_settings:
            driver: doctrine/orm
            classes:
                model:      App\Entity\ReadingRoomSettings
                repository: Sylius\Bundle\ResourceBundle\Doctrine\ORM\EntityRepository
                controller: App\Controller\AdminPanel\ReadingRoomSettingsController
                form:       App\Form\ReadingRoomSettingsForm
                
        vs_reading_room.book_author:
            driver: doctrine/orm
            classes:
                model:      App\Entity\BookAuthor
                repository: Sylius\Bundle\ResourceBundle\Doctrine\ORM\EntityRepository
                controller: App\Controller\AdminPanel\BookAuthorController
                form:       App\Form\BookAuthorForm
                
        vs_reading_room.book_author_photo:
            driver: doctrine/orm
            classes:
                model:      App\Entity\BookAuthorPhoto
                repository: Sylius\Bundle\ResourceBundle\Doctrine\ORM\EntityRepository
                
        vs_reading_room.book_genre:
            driver: doctrine/orm
            classes:
                model:      App\Entity\BookGenre
                repository: App\Repository\GenresRepository
                controller: App\Controller\AdminPanel\BookGenreController
                form:       App\Form\BookGenreForm
        
        vs_reading_room.bookmark:
            driver: doctrine/orm
            classes:
                model:      App\Entity\Bookmark
                repository: Sylius\Bundle\ResourceBundle\Doctrine\ORM\EntityRepository
