sylius_resource:
    #translation:
        #default_locale: '%locale%'
        #locale_provider: sylius.translation.locale_provider.contextual
        #available_locales_provider: sylius.translation.locales_provider
        
    #######################################################################################################################
    # Override default settings
    # -------------------------
    # You Can To Override Many Resource Parameters For All Resources (Including VankoSoft Bundles)
    # View Available Settings in 
    #     \Sylius\Bundle\ResourceBundle\DependencyInjection\Configuration::addSettingsSection(ArrayNodeDefinition $node)
    #######################################################################################################################
    settings:
        paginate: 10
    
    resources:
        vs_reading_room.reading_room_application:
            driver: doctrine/orm
            classes:
                model:      App\Entity\ReadingRoomApplication
                repository: Sylius\Bundle\ResourceBundle\Doctrine\ORM\EntityRepository
                
        vs_reading_room.reading_room_settings:
            driver: doctrine/orm
            classes:
                model:      App\Entity\ReadingRoomSettings
                repository: Sylius\Bundle\ResourceBundle\Doctrine\ORM\EntityRepository

        vs_reading_room.book_author:
            driver: doctrine/orm
            classes:
                model:      App\Entity\BookAuthor
                repository: App\Repository\AuthorsRepository
                
        vs_reading_room.book_author_photo:
            driver: doctrine/orm
            classes:
                model:      App\Entity\BookAuthorPhoto
                repository: Sylius\Bundle\ResourceBundle\Doctrine\ORM\EntityRepository
                
        vs_reading_room.book_genre:
            driver: doctrine/orm
            classes:
                model:      App\Entity\BookGenre
                repository: App\Repository\GenresRepository
        
        vs_reading_room.bookmark:
            driver: doctrine/orm
            classes:
                model:      App\Entity\Bookmark
                repository: Sylius\Bundle\ResourceBundle\Doctrine\ORM\EntityRepository
