parameters:
    # Pages Form Options
    ##########################################################
    vs_cms.form.pages.ckeditor_uiColor: '#ffffff'
    vs_cms.form.pages.ckeditor_extraAllowedContent: '*[*]{*}(*)'
    vs_cms.form.pages.ckeditor_toolbar: devpage_toolbar
    vs_cms.form.pages.ckeditor_extraPlugins: 'liststyle, font, justify, codesnippet, lightbox'
    vs_cms.form.pages.ckeditor_removeButtons: ''
    
    # TocPage Form Options
    ##########################################################
    vs_cms.form.toc_page.ckeditor_uiColor: '#ffffff'
    vs_cms.form.toc_page.ckeditor_extraAllowedContent: '*[*]{*}(*)'
    vs_cms.form.toc_page.ckeditor_toolbar: devpage_toolbar
    vs_cms.form.toc_page.ckeditor_extraPlugins: 'liststyle, font, justify, codesnippet, lightbox'
    vs_cms.form.toc_page.ckeditor_removeButtons: ''
    
    # Paid Services Form Options
    ##########################################################
    vs_users_subscriptions.form.payed_service.ckeditor_allowedContent: true # Disable Advanced Content Filter
    vs_users_subscriptions.form.payed_service.ckeditor_extraAllowedContent:  'a(*); div(*); p(*); h2(*);'

services:
    _defaults:
        autowire: true
        autoconfigure: true
    
    vs_reading_room.resources.reading_room_application.form:
        class: App\Form\ReadingRoomApplicationForm
        tags:
            - { name: form.type }
        arguments:
            - '%vs_reading_room.model.reading_room_application.class%'
    
    vs_reading_room.resources.reading_room_settings.form:
        class: App\Form\ReadingRoomSettingsForm
        tags:
            - { name: form.type }
        arguments:
            - '%vs_reading_room.model.reading_room_settings.class%'

    vs_reading_room.resources.book_genre.form:
        class: App\Form\BookGenreForm
        tags:
            - { name: form.type }
        arguments:
            - '%vs_reading_room.model.book_genre.class%'
            - '@vs_application.repository.locale'
            - '@request_stack'
    
    vs_reading_room.resources.book_author.form:
        class: App\Form\BookAuthorForm
        tags:
            - { name: form.type }
        arguments:
            - '%vs_reading_room.model.book_author.class%'
            - '@vs_application.repository.locale'
            - '@request_stack'
            - '%vs_catalog.model.product.class%'
            - '%vs_reading_room.model.book_genre.class%'
            - '%vs_cms.form.use_ckeditor%'
            - '%vs_cms.form.decription_field.ckeditor5_editor%'
            
    vs_reading_room.resources.book_author_photo.form:
        class: App\Form\Type\BookAuthorPhotoType
        tags:
            - { name: form.type }
        arguments:
            - '%vs_reading_room.model.book_author_photo.class%'
    
    # Override VS Catalog Bundle Product Form
    vs_catalog.resources.product.form:
        class: App\Form\BookForm
        tags:
            - { name: form.type }
        arguments:
            - '%vs_catalog.model.product.class%'
            - '@request_stack'
            - '@vs_application.repository.locale'
            - '%vs_catalog.model.product_category.class%'
            - '%vs_payment.model.currency.class%'
            - '%vs_cms.form.use_ckeditor%'
            - '%vs_cms.form.decription_field.ckeditor5_editor%'
            
            - '%vs_reading_room.model.book_genre.class%'
            - '%vs_reading_room.model.book_author.class%'
            - '@app_reading_room'
    
    App\Form\Type\ProductFileType:
        tags:
            - { name: form.type }
        arguments:
            - '%vs_catalog.model.product_file.class%'
            - '@request_stack'
            - '@vs_application.repository.locale'
