app_reading_room_authors:
    path: /authors
    controller: App\Controller\ReadingRoom\AuthorController::index

app_reading_room_author_details:
    path: /authors/{slug}
    controller: App\Controller\ReadingRoom\AuthorController::details
    defaults:
        slug: ''

app_reading_room_read_pdf_book:
    path: /read-pdf-book/{locale}/{productSlug}
    controller: App\Controller\ReadingRoom\ReadingRoomController::readPdfBookAction
    defaults:
        locale: ''
        productSlug: ''

app_reading_room_read_html_book:
    path: /read-html-book/{locale}/{productSlug}
    controller: App\Controller\ReadingRoom\ReadingRoomController::readHtmlBookAction
    defaults:
        locale: ''
        productSlug: ''
        
app_reading_room_read:
    path: /read-book-{id}-{locale}
    controller: App\Controller\ReadingRoom\ReadBookController::read

app_reading_room_read_html:
    path: /read-html-{id}-{locale}
    controller: App\Controller\ReadingRoom\ReadBookController::readHtml

app_reading_room_get_bookmark:
    path: /bookmarks/{bookId}/{bookLocale}/{userId}
    controller: App\Controller\ReadingRoom\ReadBookController::getBookmark

app_reading_room_create_bookmark:
    path: /bookmarks/new
    controller: App\Controller\ReadingRoom\ReadBookController::createBookmark

app_reading_room_book_suggestions:
    path: /widgets-callbacks/book-suggestions/{productSlug}
    controller: App\Controller\ReadingRoom\WidgetsCallbacksController::getBookSuggestionsAction
    options:
        expose: true
