@import "~bootstrap/dist/css/bootstrap.css";
@import "~normalize.css/normalize.css";

@import "../vendor/booksaw-book-store-html-template/icomoon/icomoon.css";
@import "../vendor/booksaw-book-store-html-template/css/vendor.css";
@import "../vendor/booksaw-book-store-html-template/style.css";

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~mdb-ui-kit/css/mdb.min.css";
@import "./read-book-themes.scss";
@import "./read-book.css";
@import "./custom.css";
