.topbar-head-dropdown img {
    height: 20px !important;
}

.product-item figcaption a > h3 {
    font-size: 1.4em;
    font-weight: 500;
    color: #74642F;
    margin: 0;
}

a {
    color: var(--accent-color) !important;
}

div.product-item figcaption span a {
    color: var(--mdb-body-color) !important;
}

div.product-item figcaption span a:hover {
    text-decoration: underline !important;
}

.page-title {
    font-size: 4.5em;
    margin-top: 1em !important;
}
