{% for suggest in bookSuggestions | slice( 0, 4 ) %}
    {% if suggest.getPicture( 'product_thumbnail' ) %}
        {% set bookThumbnail = suggest.getPicture( 'product_thumbnail' ) %}
    {% endif %}

    <div class="product-item">
        <figure class="product-style">
            <img src="{{ bookThumbnail.path | imagine_filter( 'index_page_thumbnail' ) }}"
                alt="Books"
                class="product-item"
            >
            {#
            <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                Add to Cart
            </button>
            #}
        </figure>
        
        <figcaption>
            <h3>{{ suggest.name }}</h3>
            <span>{% if suggest.authors.first %}{{ suggest.authors.first.name }}{% endif %}</span>
            {#
            <div class="item-price">
                <span class="prev-price">$ 50.00</span>$ 40.00
            </div>
            #}
        </figcaption>
    </div>
{% endfor %}