{% extends 'knp_menu.html.twig' %}

{% block root %}
    {% set breadcrumbs = knp_menu_get_breadcrumbs_array( item ) %}
    
    <div class="breadcrumbs">
        {% for link in breadcrumbs %}
            {%- if loop.index == 1 %}
                <span class="item"><a href="/">{{ 'vs_application.menu.home' | trans( {},'VSApplicationBundle' ) }} /</a></span>
            {%- elseif not loop.last %}
            	<span class="item"><a href="{{ link.uri }}">{{ link.label | trans }} /</a></span>
            {%- else %}
                <span class="item">{{ link.label | trans }}</span>
            {%- endif %}
        {%- endfor %}
    </div>
{% endblock %}


                                
                            
                            