{% extends 'knp_menu.html.twig' %}

{% block root %}
    {# {{ dump( item.children ) }} #}
    
    {% for parentItem in item.children %}
        {% if( parentItem.displayed ) %}
            <li class="menu-item{% if parentItem.isCurrent %} active{% endif %}">
                <a href="{{ parentItem.uri }}">{{ parentItem.name | trans }}</a>
                
                {% if(parentItem.hasChildren) %}
                
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
    
{% endblock %}
