{% extends 'knp_menu.html.twig' %}

{% block root %}
    {% for parentItem in item.children %}
        <li class="menu-item{% if parentItem.isCurrent %} active{% endif %}">
            <a href="{{ parentItem.uri }}">{{ parentItem.name|trans }}</a>
            
            {% if(parentItem.hasChildren) %}
            
            {% endif %}
        </li>
    {% endfor %}
{% endblock %}
