<section id="related-products" class="bookshelf pb-5 mb-5">
    <div class="container">
        <div class="section-header align-center">
            <div class="title">
                <span>{{ 'reading_room.template.related_products' | trans( {},'ReadingRoom' ) }}</span>
            </div>
            <h2 class="section-title">{{ 'reading_room.template.you_may_also_like' | trans( {},'ReadingRoom' ) }}</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="inner-content">
                <div class="product-list">
                    <div class="grid product-grid" id="bookSuggestionsContainer"></div>
                </div>
            </div><!--inner-content-->
        </div>
    </div>
</section>