<div class="grid product-grid">

    {% for suggest in widget.params.bookSuggestions %}
        {% if suggest.getPicture( 'product_thumbnail' ) %}
            {% set bookThumbnail = suggest.getPicture( 'product_thumbnail' ) %}
        {% endif %}
    
        <div class="product-item">
            <figure class="product-style">
                <img src="{{ bookThumbnail.path | imagine_filter( 'index_page_thumbnail' ) }}" alt="Books" class="product-item">
                {#
                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                    Add to Cart
                </button>
                #}
            </figure>
            
            <figcaption>
                <h3>{{ suggest.name }}</h3>
                <span>Armor Ramsey</span>
                {#
                <div class="item-price">
                    <span class="prev-price">$ 50.00</span>$ 40.00
                </div>
                #}
            </figcaption>
        </div>
    {% endfor %}
    
</div>